{% if variant and variant|lower == 'teaser' %}
	<div class="sui-{{variant}}  rounded-{{ raduis }} group {% if raduis %} overflow-hidden {% endif %} {{ extra_wrapper_class }} bg-white   border border-[#E4E7EB] ">
		{% if image %}
			<div class="sui-{{variant}}-img {% if image_scale %} duration-500 transition-all group-hover:scale-[1.12] {% endif %}">
				{{ image }}
			</div>
		{% endif %}
		<div class="sui-{{variant}}-content p-4">
			{% if title %}
				<div class="sui-{{variant}}-title">
					{{ title }}
				</div>
			{% endif %}
			{% if body %}
				<div class="sui-{{variant}}-body">
					{{ body }}
				</div>
			{% endif %}
			{% if link %}
				<div class="sui-{{variant}}-link">
					{{ link }}
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}
