{#
/**
 * @file
 * Theme override for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - summary_attributes: A list of HTML attributes for the summary element.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 * @see seeds-tailwind_preprocess_details()
 */
#}
{%
  set classes = [
    'seeds-tailwind-details',
  ]
%}
{%
  set content_wrapper_classes = [
    'seeds-tailwind-details__wrapper',
    'details-wrapper',
  ]
%}
<details{{attributes.addClass(classes)}}>
	{%- if title -%}
		{%
      set summary_classes = [
        'seeds-tailwind-details__summary',
        required ? 'js-form-required',
        required ? 'form-required',
      ]
    %}
		<summary{{summary_attributes.addClass(summary_classes)}}>
			{{- title -}}
			{%- if required -%}
				<span class="required-mark"></span>
			{%- endif -%}
		</summary>
	{%- endif -%}
	<div{{content_attributes.addClass(content_wrapper_classes)}}>
		{% if errors %}
			<div class="form-item form-item--error-message">
				{{ errors }}
			</div>
		{% endif %}
		{%- if description -%}
			<div class="seeds-tailwind-details__description">{{ description }}</div>
		{%- endif -%}
		{%- if children -%}
			{{ children }}
		{%- endif -%}
		{%- if value -%}
			{{ value }}
		{%- endif -%}
	</div>
</details>
