{% if variant and variant|lower == 'default' %}
	<div class="sui-card-{{variant}} relative  group overflow-hidden rounded-{{ raduis }} {{ extra_wrapper_class }}">
		{% if image %}
			<div class="sui-card-{{variant}}-image duration-500 transition-all {% if image_scale %} group-hover:scale-[1.12] {% endif %} ">{{ image }}</div>
		{% endif %}
		<div class="sui-card-content p-4 inset-0 flex flex-col items-start absolute text-{{text_color}} bg-[rgb(0,0,0,{{background_brightness}})] {{ text_position }}">
			{% if title %}
				<div class="sui-card-{{variant}}-title mb-4">{{ title }}</div>
			{% endif %}
			{% if body %}
				<div class="sui-card-{{variant}}-body mb-4">{{ body }}</div>
			{% endif %}
			{% if link %}
				<div class="sui-card-{{variant}}-link">{{ link }}</div>
			{% endif %}
		</div>
	</div>
{% elseif variant and variant|lower == 'animated' %}
	<div class="sui-card-{{variant}} group relative overflow-hidden rounded-{{ raduis }} {{ extra_wrapper_class }}">
		{% if image %}
			<div class="sui-card-{{variant}}-image duration-500 perspective-1000 transition-all {% if image_scale %} group-hover:scale-[1.12] {% endif %}">{{ image }}</div>
		{% endif %}
		<div class="sui-card-{{variant}}-content p-4 inset-0 flex flex-col items-start absolute text-{{text_color}} bg-[rgb(0,0,0,{{background_brightness}})]">
			{% if title %}
				<div class="sui-card-{{variant}}-title absolute  bottom-0 duration-500 transition-all mb-4 group-hover:bottom-[50%]">{{ title }}</div>
			{% endif %}
			<div class="duration-500 transition-all absolute bottom-[-50%] group-hover:bottom-[40%]">
				{% if body %}
					<div class="sui-card-{{variant}}-body mb-4">{{ body }}</div>
				{% endif %}
				{% if link %}
					<div class="sui-card-{{variant}}-link">{{ link }}</div>
				{% endif %}
			</div>

		</div>
	</div>
{% endif %}