h1 {
  @apply text-red-500 flex;
  span {
    @apply text-wrap;
  }
}

body {
  @apply justify-normal;
  & .test {
    @apply flex-1;
  }
}

.header {
  @apply flex justify-normal;
  .navbar-form {
    @apply p-2;
    h1 {
      @apply text-wrap text-clip text-gray-300 flex;
    }
  }
}

body:not(.layout-builder-on) {
  .messages-list {
    @apply top-4 end-8;
  }
}
.layout-builder-on {
  .messages-list {
    @apply bottom-4 start-16;
  }
}
