{#
/**
 * @file
 * Preload the non-bold & non-italic fonts for the headings and the body copy.
 *
 * Available variables:
 * - seeds_tailwind_path: Returns the path to the seeds-tailwind theme.
 */
#}

<link rel="preload" href="{{ seeds_tailwind_path }}/fonts/metropolis/Metropolis-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ seeds_tailwind_path }}/fonts/metropolis/Metropolis-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ seeds_tailwind_path }}/fonts/metropolis/Metropolis-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ seeds_tailwind_path }}/fonts/lora/lora-v14-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
