{#
/**
 * @file
 * seedsTailwind theme implementation for the main menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{% set attributes = attributes.addClass('menu') %}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
	{% set primary_nav_level = 'menu--level-' ~ (menu_level + 1) %}
	{% import _self as menus %}
	{% if items %}
		<ul {{ attributes.addClass('menu', primary_nav_level) }}>
			{% set attributes = attributes.removeClass(primary_nav_level) %}
			{% for item in items %}

				{% if item.url.isRouted and item.url.routeName == '<nolink>' %}
					{% set menu_item_type = 'nolink' %}
				{% elseif item.url.isRouted and item.url.routeName == '<button>' %}
					{% set menu_item_type = 'button' %}
				{% else %}
					{% set menu_item_type = 'link' %}
				{% endif %}

				{% set item_classes = [
            'menu__item',
            'menu__item--' ~ menu_item_type,
            'menu__item--level-' ~ (menu_level + 1),
            item.in_active_trail ? 'menu__item--active-trail',
            item.below ? 'menu__item--has-children',
          ]
        %}

				{% set link_classes = [
            'menu__link',
            'menu__link--' ~ menu_item_type,
            'menu__link--level-' ~ (menu_level + 1),
            item.in_active_trail ? 'menu__link--active-trail',
            item.below ? 'menu__link--has-children',
          ]
        %}

				<li{{item.attributes.addClass(item_classes)}}>
					{#
					            A unique HTML ID should be used, but that isn't available through
					            Twig yet, so the |clean_id filter is used for now.
					            @see https://www.drupal.org/project/drupal/issues/3115445
					          #}
					{% set aria_id = (item.title ~ '-submenu-' ~ loop.index)|clean_id %}

					{{ link(item.title, item.url, {'class': link_classes}) }}

					{% if item.below %}
						{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
					{% endif %}

				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}
