{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See
 * https://www.w3.org/TR/WCAG-TECHS/H69.html for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}

{{ attach_library('seeds_tailwind/messages') }}

<div data-drupal-messages class="messages-list fixed z-50">
	<div class="messages__wrapper layout-container">
		{% for type, messages in message_list %}
			{%
        set classes = [
        'seeds_messages-list__item',
        'seeds_messages',
        'seeds_messages--' ~ type,
      ]
      %}
			<div{{attributes.addClass(classes).setAttribute('data-drupal-selector','messages').setAttribute('role','contentinfo').setAttribute('aria-label',status_headings[type])}}>
				<div class="bg-white text-gray-400 hover:text-gray-900 rounded-lg">
					<div class="flex items-center w-full max-w-xs p-4  mb-4 text-gray-500  shadow" role="alert">
						<div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg">
							{% if type == 'error' %}
								<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
									<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
								</svg>
							{% elseif type == 'warning' %}
								<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
									<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
								</svg>
							{% elseif type == 'status' %}
								<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
									<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
								</svg>
							{% elseif type == 'info' %}
								<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
									<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
								</svg>
							{% endif %}
							<span class="sr-only">Check icon</span>
						</div>
						<div class="ms-3 text-sm font-normal text-gray-700">
							{% if messages|length > 1 %}
								<ul class="messages__list">
									{% for message in messages %}
										<li class="messages__item">{{ message }}</li>
									{% endfor %}
								</ul>
							{% else %}
								{{ messages|first }}
							{% endif %}
						</div>
						<button type="button" class="close_button_toast m-2 ms-auto -mx-1.5 -my-1.5  focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8" data-dismiss-target="#toast-success" aria-label="Close">
							<span class="sr-only">Close</span>
							<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
								<path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
							</svg>
						</button>
					</div>
				</div>
			</div>
			{# Remove type specific classes. #}
			{% set attributes = attributes.removeClass(classes) %}
		{% endfor %}
	</div>
</div>
