<div class="sui-statistic bg-white  border border-[#E4E7EB] p-4 mb-4 ">
	{% if number %}
		<div class="sui-statistic-num mb-4 ">
			{{number}}
		</div>
	{% endif %}
	{% if content %}
		<div class="sui-statistic-content ">
			{{content}}
		</div>
	{% endif %}
</div>
