{% extends "block.html.twig" %}
{#
/**
 * @file
 * seedsTailwind theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
{% block content %}
	<div class="site-branding__inner">
		{% if site_logo %}
			<a href="{{ path('<front>') }}" rel="home" class="site-branding__logo">
				<img src="{{ site_logo }}" alt="{{ 'Home'|t }}" fetchpriority="high"/>
			</a>
		{% endif %}
		{% if site_name %}
			<div class="site-branding__text">
				<div class="site-branding__name">
					<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
