{#
/**
 * @file
 * seedsTailwind theme override to display the sidebar region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region--' ~ region|clean_class,
  ]
%}

{% if content %}
	<aside{{attributes.addClass(classes)}}>
		{{ content }}
	</aside>
{% endif %}
