<div class="{{ extra_wrapper_class }} sui-slider relative ">
	{% if image %}
		<div class="sui-slider-image ">{{ image }}</div>
	{% endif %}
	<div class="sui-slider-content inset-0 flex flex-col items-start justify-center text-{{text_color}} bg-[rgb(0,0,0,{{background_brightness}})] {{ text_position }}">
		<div class="container">
			{% if title %}
				<div class="sui-slider-title mb-4">{{ title }}</div>
			{% endif %}
			{% if body %}
				<div class="sui-slider-body mb-4">{{ body }}</div>
			{% endif %}
			{% if link %}
				<div class="sui-slider-link">{{ link }}</div>
			{% endif %}
		</div>
	</div>
</div>
